.banner {
  position: relative;
  height: 40px;
  align-items: flex-start;
  background-color: #eaeaea;
}
.bannerPng {
  position: absolute;
  left: 50%;
  top: 0;
  width: 950px;
  height: 40px;
  background-image:/* webpackIgnore: true */ url("/assets/grand_tamachi/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(-50%);
}
.header {
  position: relative;
  height: 134px;
  align-items: flex-start;
  background-color: #fff;
}
.ulRtGroupLink {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 26px;
  align-items: flex-start;
  background-color: #f9f9f9;
}
.unnamed {
  color: #000;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 1531.36px;
  top: 7px;
  width: 195.58px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.unnamed2 {
  color: #000;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 1746.1899px;
  top: 7px;
  width: 36.76px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.gORA {
  color: #000;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 1802.2px;
  top: 7px;
  width: 35.54px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.unnamed3 {
  color: #000;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 1857px;
  top: 7px;
  width: 48.2px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.divRtServiceBar {
  position: absolute;
  left: 0;
  right: 0;
  top: 26px;
  height: 74px;
  align-items: flex-start;
  box-shadow: inset 0px -2px 0px #66b821;
}
.Point {
  position: absolute;
  left: 1735px;
  top: 12px;
  width: 170px;
  height: 53px;
  background-image:/* webpackIgnore: true */ url("/assets/3000point.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rakutenTravel {
  position: absolute;
  left: 15px;
  top: 27px;
  width: 192px;
  height: 32px;
  align-items: flex-start;
  background-image:/* webpackIgnore: true */ url("/assets/rakuten_travel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unnamed4 {
  color: #1d54a7;
  font-size: 16px;
  line-height: 17.6px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: -9999px;
  top: 0;
  width: 97.7px;
  height: 17px;
  justify-content: center;
  flex-direction: column;
}
.divRtUtility {
  position: absolute;
  right: 200px;
  top: 12px;
  width: 635px;
  height: 60px;
  align-items: flex-start;
}
.ulRtHelpLink {
  position: absolute;
  left: 0;
  top: 0;
  width: 635px;
  height: 17.59px;
  align-items: flex-start;
}
.unnamed5 {
  color: #1d54a7;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 287.03px;
  top: 3px;
  width: 121.89px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.unnamed6 {
  color: #1d54a7;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 423.17px;
  top: 3px;
  width: 73.89px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.unnamed7 {
  color: #1d54a7;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 511.31px;
  top: 3px;
  width: 37.04px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.languages {
  color: #1d54a7;
  font-size: 11px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 562.61px;
  top: 3px;
  width: 59.59px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.pseudo {
  position: absolute;
  right: 0;
  top: calc(50% - -1.035px);
  width: 8px;
  height: 4px;
  box-shadow: inset 0px 4px 0px #1d54a7, inset -4px 0px 0px #1d54a7, inset -4px 0px 0px #1d54a7;
  transform: translateY(-50%);
}
.a2 {
  position: absolute;
  left: 492px;
  top: 24.59px;
  width: 143px;
  height: 28px;
  align-items: flex-start;
  background-color: #66b821;
}
.unnamed8 {
  color: #fff;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 4.66px;
  top: 6px;
  width: 133.89px;
  height: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dlRtNologin {
  position: absolute;
  left: 165px;
  top: 24.59px;
  width: 320px;
  height: 20.19px;
  align-items: flex-start;
}
.unnamed9 {
  color: #333;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 50.66px;
  top: 6px;
  width: 146.73px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.unnamed10 {
  position: absolute;
  left: 212.53px;
  top: 6px;
  width: 51.55px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.labelWrapper {
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 12px;
  line-height: 13.2px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
}
.label2 {
  color: #333;
  font-size: 12px;
  line-height: 13.2px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
}
.unnamed11 {
  color: #000;
  font-size: 12px;
  line-height: 13.2px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 270.88px;
  top: 6px;
  width: 49.33px;
  height: 14px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
.dlRtNavLink {
  position: absolute;
  left: 0;
  top: 100px;
  width: 1920px;
  height: 34px;
  align-items: flex-start;
  background-color: #eaeaea;
  box-shadow: inset 0px -1px 0px #ccc;
}
.ulRtNavBox {
  position: absolute;
  left: 8px;
  top: 0;
  width: 1904px;
  height: 33px;
  align-items: flex-start;
}
.a3 {
  position: absolute;
  left: 0;
  top: 0;
  width: min-content;
  height: min-content;
  padding: 9px 7px;
  background-color: #ccc;
}
.unnamed12 {
  color: #000;
  font-size: 13px;
  line-height: 14.3px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed13 {
  color: #000;
  font-size: 13px;
  line-height: 14.3px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 87.45px;
  top: 9px;
  width: 65.81px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.unnamed14 {
  color: #000;
  font-size: 13px;
  line-height: 14.3px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 173.69px;
  top: 9px;
  width: 66.42px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.unnamed15 {
  color: #000;
  font-size: 13px;
  line-height: 14.3px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 258.36px;
  top: 9px;
  width: 132.03px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.unnamed16 {
  color: #000;
  font-size: 13px;
  line-height: 14.3px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 408.64px;
  top: 9px;
  width: 52.2px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.unnamed17 {
  color: #000;
  font-size: 13px;
  line-height: 14.3px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 479.09px;
  top: 9px;
  width: 65.51px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.unnamed18 {
  color: #000;
  font-size: 13px;
  line-height: 14.3px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 562.86px;
  top: 9px;
  width: 79.12px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.unnamed19 {
  color: #000;
  font-size: 13px;
  line-height: 14.3px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 660.23px;
  top: 9px;
  width: 79.42px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.unnamed20 {
  color: #000;
  font-size: 13px;
  line-height: 14.3px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 757.91px;
  top: 9px;
  width: 66.12px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.x {
  color: #3cc74a;
  font-size: 32px;
  line-height: 21px;
  font-weight: bold;
  font-style: italic;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
  position: absolute;
  left: 215px;
  top: 41px;
  width: 40px;
  height: 48px;
  justify-content: center;
  flex-direction: column;
}
